/* 전체 화면 너비에 맞춰줌 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  font-family: Arial, sans-serif;
}

* {
  box-sizing: inherit;
}
